# Extractly

Extract Elixir information into Eex templates


## Author

Copyright © 2018 Robert Dober, robert.dober@gmail.com, Dave Thomas, The Pragmatic Programmers
@/+pragdave,  dave@pragprog.com

# LICENSE

Same as Elixir, which is Apache License v2.0. Please refer to [LICENSE](LICENSE) for details.

SPDX-License-Identifier: Apache-2.0
